h1 {
  color: #1D1D1D; /* 900 */
  color: #171923; // 900
  color: #1A202C; // 800

  color: #47585B; /* 600 */
  color: #2D3748; // 700
  color: #4A5568; // 600


  color: #999999; /* 500 */
  color: #718096; // 500
  color: #A0AEC0; // 400


  color: #99999980; /* 400 */

  color: #DADADA; /* 300 */


  color: #F5F8FA; /* 50 */
  color: #CBD5E0; // 300
  color: #E2E8F0; // 200
  color: #EDF2F7; // 100
  color: #F7FAFC; // 50

  color: #f5f8fa;

  color: #F5F8FA;
}