.swiper {
  width: auto;
  height: 15rem;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: var(--chakra-colors-yellow-500);
}

.swiper .swiper-pagination-bullet {
  background: var(--chakra-colors-gray-500);
  opacity: initial;
}

.swiper .swiper-pagination-bullet-active {
  background: var(--chakra-colors-yellow-500);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
