.pageContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.pageContainer > * {
  width: 72.5rem;
  padding-inline: 0.625rem;
}

@media (max-width: 72.5rem) {
  .pageContainer > * {
    width: 100%;
    max-width: 72.5rem;
  }
}

@media (max-width: 30em) {
  .pageContainer > * {
    padding-inline: 1rem;
  }
}